/*Fonts*/
/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v12-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v12-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */

}

/*Fonts*/
:root{
	--light-grey: #F2F2F2;
	--features3-grey: #EEEEEE;
	--basic-white: #FFFFFF;
	--basic-black: #000000;
	--features-blue: #81B3D2;
	--dark-gray: #333333;
	--body-gray: #888888;
	--apartment-gray: #E5E5E5;
	--brown: #766357;
	--btn-book: #766357;
}

/*Global*/

body {
	margin: 0;
	
	text-transform: uppercase;
	color: var(--basic-black);
	font-family: "PT Sans", Arial, sans-serif;
	background-color: var(--light-grey);
	
}

.container{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
	background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*Main navigation*/

.main-header{
	position: relative;
}

.logo{
	position: absolute;
	left: 50%;
	margin-left: -69px;
	padding-bottom: 0px;

}
.main-nav{
	font-size: 14px;
	line-height: 26px;
	height: 56px;
	color: var(--basic-black);
  	background-color: var(--basic-white);
}

.site-list{
	list-style: none;
	display: flex;
	width: 1200px;
	height: 70px;
	left: 40px;
}

.site-item{
	width: 15%;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;

}

.site-item .link{
	color: var(--basic-black);
  	background-color: var(--basic-white);
   	font-weight: bold;
  	
}
.link.brown{
	color: var(--brown);
}

/*Intro*/

.intro{
	background-image: url("../img/backgroundphoto.jpg");
	background-position: center, 0 0;
  	background-repeat: no-repeat;
  	
}

.welcome{
	margin-right:auto;
	margin-left:auto;
	padding-top:77px;
	position: relative;
	left: 372px;
	
}

.white-mask{
	position: relative;
	bottom: -4px;
}

/*Features*/

.section{
	margin-left: auto;
	margin-right: auto;
	color: var(--basic-white);
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}
.title{
	text-align: center;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	width: 470px;
	position: relative;
	left: 365px;
	padding-top: 42px;
	padding-bottom: 16px;
}

.features-intro{
	text-align: center;
	color:var(--dark-gray);
	font-size: 14px;
	line-height: 26px;
	padding-bottom: 51px;
}

.features-list{
	list-style: none;
	padding:0;
	margin:0;

}

.feature-discription{
	background-color: var(--features-blue);
	color:var(--basic-white);
	flex-basis:400px;
}

.features-title{
	text-align:center;
	padding-bottom: 25px;
	
}

.features-text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;

}

.feature-item.type-1{
	display: flex;
}

.div2{
	display: grid;
	grid-row: 1;
	grid-template-columns: 1fr 1fr 1fr;
}


.feature-item.type-1 .feature-discription{
	flex-basis:400px;
	align-items: center;
	padding-top: 47px;
	padding-bottom: 22px;

}

.feature-item.type-1 .features-title{
	text-align: center;

}

.feature-item.type-2{
	margin: 0;
	padding: 0;
	padding-top: 60px;
	text-align:center;
	flex-grow: 1;
}

.feature-item.type-2 .features-title{
	margin-bottom: 25px;
	text-align: center;
}

.feature-item.type-2 .features-text{
	width: 290px;
	
}
.feature-item.type-3 .features-text{
	width: 250px;
}

.feature-item.type-3{
	
	background-color: var(--features3-grey);
	padding-top:37px;
	text-align: center;
	
}

/*Checkbox*/

.checkbox{
	background-color: var(--btn-book);	
	width: 1200px;
	height:217px;
	
	padding-left:72px;
	list-style: none;
	display:inline-flex;
}

.div1{
	margin-right: 120px;
}
.checkbox-title{
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	color: var(--basic-white);
	
	padding-bottom: 25px;
	
}

.checkbox-list{
	list-style: none;
}

input{
	background-color: initial;
    cursor: default;
    appearance: checkbox;
	margin-right: 17px;
	margin-bottom: 25px;
	border: initial;
}

label{
	font-size: 14px;
  	line-height: 21px;
  	text-transform: uppercase;
	color: var(--basic-white);
	
}

/*Filter*/

.filter-name{
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: var(--basic-white);
	margin-bottom: 10px;
}

.range-filter {
  width: 316px;
  
}

.price-controls{
	width: 315px;
	border: solid 2px white;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
  opacity: 0.3;
  margin-top: 20px;

}

.range-controls .bar {
  margin-top: 20px;
  width: 70%;
  height: 2px;
  background: var(--basic-white);
}


.toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

/*sort Hotels*/

.sort{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-left: 73px;
	padding-right: 73px;
}

.sort-list.type-1{
	list-style: none;
	display:inline-flex;
	justify-content: space-between;
	
}

.link-price {
	margin-right:32px;
}

.link-sort{
	margin-right:32px;
}

.sort-list.type-2{
	list-style: none;
	display:inline-flex;
	
}

.up-sort{
	background-repeat: no-repeat;
	padding-right: 12px;
}

.down-sort{
	background-repeat: no-repeat;
}

.sort-item{
	display: flex;
}

.sort-found{
	font-weight: bold;
	color: var(--basic-black);
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.sort-title{
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.link-price{
	color: var(--features-blue);
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.link-sort{
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
	opacity: 0.3;
	border-bottom: 1px dashed #81B3D2;

}

/*Apartaments-cards*/

.apartaments{
	

}
.apartaments-list{
	list-style: none;
}


.hotel-card .title{
	text-align: left;
}

.rating{
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	width: 110px;
	height: 27px;
	padding-left: 17px;
	padding-right:17px;
	padding-top: 6px;
	padding-bottom: 3px;
	background-color: var(--light-grey);
	text-align: center;
}

.star4{
	width: 90px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.star3{
	width: 75px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.star2{
	width: 41px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.btn-more{
	width: 110px;
	height: 27px;
	padding-left: 17px;
	padding-right:17px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right:6px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-white);
	background-color: var(--features-blue);
}

.btn-book{
	width: 142px;
	height: 27px;
	padding: 3px 17px 3px 17px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-white);
	background-color: var(--btn-book);
}

/*Booking*/

.booking{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	
}

.booking-title{
	color: var(--basic-black);
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
	margin-top: 58px;
	text-align: center;
}

.booking-intro{
	margin-left: auto;
	margin-right: auto;
	color:var(--dark-gray);
	font-size: 14px;
	line-height: 21px;
	width: 435px;
	margin-bottom: 50px;
}

.form-title {
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    width: 568px;
    height: 86px;
    background-color: var(--btn-book);
}

.form-name{
    padding-top: 30px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: var(--basic-white);
}	
   

/*Form*/

.appointment-form{
	width: 568px;
	position:relative;
	margin-bottom: 55px;
	left: 315px;
	margin:0;
	background-color: var(--basic-white);
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.appointment-item{
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	margin-left: 55px;
	margin-right: 55px;
}

.appointment-item.date{
	background-image: url("../img/calendar.svg");
	text-align: right;
	margin: 0;
	padding: 0;
}

.appointment-item label{
	width: 125px;
	padding-right:12px;
	text-align: left;
}

.appointment-item input{
	width: 346px;
	font: inherit;
 	background-color: var(--light-grey);
 	box-sizing: border-box;
 	border: 0;
 	padding-top: 6px;
 	padding-bottom: 6px;
 	padding-left:13px;

}

.visiters{
	display: flex;
	margin-bottom: 54px;	

}

.appointment-item2{
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	padding-left: 55px;
	padding-right: 55px
}

.appointment-item2 label{
	width: 101px;
	
}

.appointment-item2 input{
	width: 114px;
	font: inherit;
 	background-color: var(--light-grey);
 	box-sizing: border-box;
 	border: 0;
 	padding-top: 6px;
 	padding-bottom: 6px;
 	padding-left:13px;

}

.btn-form input{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-white);
	width: 458px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: var(--features-blue);
	border:0;
	font: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 55px;

}

/*Footer*/

.main-footer{
	width: 1200px;
	height: 120px;
	left: 40px;
	background: rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hash{
	color:var(--basic-black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align:center;
}

.social-list{
	list-style: none;
	padding: 0;
}

.social-link{
	background-color: var(--features-blue);
	display: block;
	width: 46px;
	height: 48px;
	font-size:0;
	background-position: center center;
	background-repeat: no-repeat;

}

.social-link.twitter{
	background-image: url("../img/twitter.svg");
}

.social-link.facebook{
	background-image: url("../img/facebook.svg");
}

.social-link.youtube{
	background-image: url("../img/youtube.svg");
}

.social-item{
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
		
}

.copyright{
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
}

.logo-copyright{
	vertical-align: middle;
}