/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       * Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}

/*Fonts*/
:root{
	--light-grey: #F2F2F2;
	--features3-grey: #EEEEEE;
	--basic-white: #FFFFFF;
	--basic-black: #000000;
	--features-blue: #81B3D2;
	--dark-gray: #333333;
	--body-gray: #888888;
	--brown: #766357;
}

/*Global*/

body {
	margin-left: 40px;
	margin-right: 40px;
	text-transform: uppercase;
	color: var(--basic-black);
	font-family: "PT Sans", Arial, sans-serif;
	background-color: var(--body-gray);


}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.main-nav{
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
  	background-color: var(--basic-white);
}

.site-list{
	list-style: none;
	display: flex;
	width: 1200px;
	height: 70px;
	left: 40px;
}

.site-item .link{
	color: var(--basic-black);
  	background-color: var(--basic-white);
  	text-align: center;
  	font-weight: bold;
  	
}
.brown{
	color: var(--brown);
}

.logo{
	text-align:center;
}
/*Intro*/

.intro{
	background-image: url(img/background-photo.png)
	background-position: center, 0 0;
  	background-repeat: no-repeat;
}

.title{
	text-align: center;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.features-intro{
	text-align: center;
	color:var(--dark-gray);
	font-size: 14px;
	line-height: 26px;
}

/*Features*/

.features-list{
	list-style: none;
}

.feature-item .type-1{
	background-color: var(--features-blue);
	color:var(--basic-white);
}

.feature-item .type-2{
	background-color:var(--basic-white);
}

.feature-item .type-3{
	background-color:var(--features3-grey);
}

.features-title1{
	color:var(--basic-white);
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}
.features-text1{
	font-size: 14px;
	line-height: 21px;
	color:var(--basic-white);
}

.features-text2 .features-text3{
	color:var(--dark-gray);
	font-size: 14px;
	line-height: 21px;
}

.features-title2 .features-title3{
	color:var(--basic-black);
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}



/*Booking*/

.booking{
	background-color:var(--basic-white);
}

.booking-title{
	color: var(--basic-black);
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
}

.booking-intro{
	color:var(--dark-gray);
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}

/*Footer*/

.main-footer{
	width: 1200px;
	height: 120px;
	left: 40px;
	background: rgba(255, 255, 255, 0.9);
}

.hash{
	color:var(--basic-black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align:center;
}

.copyright{
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
}